body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0e1a23;
  color: white;
  height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.screen.active {
  display: flex;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color:  #EC407A;      /* 文字の色（青） */
  font-size: 70px;     /* 文字の大きさ */
  text-align: center;  /* 中央揃え */
}


button {
  width: 10%;
  padding: 15px;
  margin: 10px 40;
  font-size: 18px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;

  position: fixed;
  right: 450px;
  bottom: 200px;
}

.choice {
  width: 80%;
  padding: 15px;
  margin: 8px 0;
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}

.choice.selected {
  background-color: #f39c12;
}

body.start-bg {
  background: url("images/start.jpg") no-repeat center center / cover;
}