body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  height: 100vh;

  /* 背景はクラスで設定するので共通設定だけ残す */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-aspect-ratio: 3/4) {
  body {
    background-size: cover;
  }
}

@media (min-aspect-ratio: 3/4) {
  body {
    background-size: contain;
  }
}


#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.screen.active {
  display: flex;
}


h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color:  #EC407A;      /* 文字の色（青） */
  font-size: 60px;     /* 文字の大きさ */
  text-align: center;  /* 中央揃え */
}

h2{
  font-size: 13px;
}

h3{
  font-size: 30px;
}

button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 80%;
  max-width: 250px;
  padding: 15px;
  font-size: 16px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
}

#choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.choice {
  padding: 15px;
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;
  background-color: rgba(0,0,0,0.4);
}

.choice.selected {
  background-color: #f39c12;
}

/* ▼ 背景切替クラス ▼ */
body.start-bg   { background-image: url("images/start.jpg"); }
body.q1-bg      { background-image: url("images/q1.jpg"); }
body.q2-bg      { background-image: url("images/q2.jpg"); }
body.q3-bg      { background-image: url("images/q3.jpg"); }
body.q4-bg      { background-image: url("images/q4.jpg"); }
body.correct-bg { background-image: url("images/correct.jpg"); }
body.wrong-bg   { background-image: url("images/wrong.jpg"); }
body.lottery-bg { background-image: url("images/lottery.jpg"); }

/* ヒントボタン（初期は非表示） */
.hint-btn {
  display: none;
  position: absolute;
  bottom: 80px;
  right: 10px;
  padding: 10px 14px;
  font-size: 14px;
  background: rgba(0,0,0,0.6);
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  width: auto;
}

/* モーダル背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

/* モーダル本体 */
.modal-content {
  background-color: #ffffff;
  margin: 30% auto;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  color: black;
  border-radius: 8px;
  text-align: center;
}

/* 閉じるボタン */
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}